body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #C0C0C0;
	text-align:center;
}

.table {
	border: 1px solid black;
	width: auto;
}

#container {
	width:1000px;
	height:auto;
	margin-right: auto;
	margin-left: auto;
}

#deadertitle {
    list-style-type: none;
    position: relative;
    color: white;
    font-size: 71px;
    display: inline;
    bottom: 38px;
    left: 50px;
    margin-right: 300px;
    font-family:Impact, fantasy;   
}

#deadertitle a:link {
    text-decoration: none;
    color: white;

}

#deadertitle a:visited {
    text-decoration: none;
    color: white;
}

#deadertitle a:hover {
    text-decoration: underline;
}

#header {
	height: 150px;
	background-color: black;
}

#header img:hover{
	transform: rotate(360deg) scale(1.1);
	}

#main_menu{
 background: black;   
}

#main_menu ul{
    
  display:inline;
  padding: 10px;
  overflow: hidden;
  list-style: none;
  background: black;
  
}

#main_menu ul li {
  /* actual menu button */
  display: inline-block;
  position: relative;
  background: #fff;
  background: black;
  padding: 20px;
}

#main_menu ul li a{
    color: white;
    text-decoration: none;
    font-family:Impact, fantasy;
    padding: auto;
}

#main_menu ul li:hover {
  background: #555;
  color: #fff;
}

#main_menu ul li ul {
    
  padding: 0;
  position: absolute;
  top: 39px;
  left: 0;
  min-width: 150px;
  display: none;
    
}

#main_menu ul li ul li { 
  background: gray;
  display: block; 
  color: #fff;
  z-index: 100;
  text-decoration: none;
  font-family:Impact, fantasy;


}


#main_menu ul li ul li:hover { background: #666; }

#main_menu ul li:hover ul {
  display: block;
    
}

/* old navi style without dropdown
#navi {
	height: 60px;
	background-color: black;
}
#navi ul {
	margin: 0;
	padding: 0;
	display: block;
}
#navi li {
	text-decoration: none;
	list-style-type: none;
	float: left;
	font-family: Coronetscript;
	font-size: 20px;
	display: block;
	width: 250px;
	height: 60px;
	text-align: center;
	line-height: 55px;
	color: green;
}

#navi a:link {
    text-decoration: none;
    color: grey;

}

#navi a:visited {
    text-decoration: none;
    color: grey;
}

#navi a:hover {
    text-decoration: underline;
    background-color: green;
}
*/

#mainbody {
	height: auto;
	background-color: black;
}

#mainbody h3 {
	color: white;
}

#post  {
	text-align: center;
	text-decoration: none;
	font-family:Impact, fantasy;
	background-color: #A0A0A0;
	height: 150px;
	border-width:5px;	
    border-style:groove;
    border-color: black;
}

#post h1 {
	color: #900000 ;
	text-align: center;
	font-family:Impact, fantasy;
}

#post h3 {
	text-align: center;
	font-family:Impact, fantasy;
	color: #505050;
}

/* learn boxes */

#box1 {
	height: 300px;
	width: 300px;
	margin-left: 0px;
	background-color: #C8C8C8;
	text-align: center;
	border-radius: 20px;
	font-family:Impact, fantasy;
	overflow: hidden;
}

#box1 ul {
	margin: 0;
	padding: 0;
	display: block;
}

#box1 li {
	list-style-type: none;
	text-align: center;
	font-family:Impact, fantasy;

}

#box1 h1 {
	text-align: center;
}
/* */
#box2 {
	height: 300px;
	width: 300px;
	background-color: #A8A8A8;
	margin-left: 0px;
	border-radius: 20px;
	overflow: hidden;
}

#box2 ul {
	margin: 0;
	padding: 0;
	display: block;
}

#box2 li {
	list-style-type: none;
	text-align: center;
	font-family:Impact, fantasy;

}

#box2 h2 {
	text-align: center;
	font-family:Impact, fantasy;
}
/* */
#box3 {
	height: 300px;
	width: 300px;
	background-color: #888888;
	margin-left: 0px;
	border-radius: 20px;
	overflow: hidden;
}

#box3 ul {
	margin: 0;
	padding: 0;
	display: block;
}

#box3 li {
	list-style-type: none;
	text-align: center;
	font-family:Impact, fantasy;

}

#box3 h2 {
	text-align: center;
	font-family:Impact, fantasy;
}

#box3 h3 {
	text-align: center;
	font-family:Impact, fantasy;
}

/* all boxes links color and design*/


#box1 ul li a:link {
    text-decoration: none;
    color: grey;

}

#box1 ul li a:visited {
    text-decoration: none;
    color: grey;
}

#box1 ul li a:hover {
    text-decoration: underline;
    background-color: green;
}

#box2 ul li a:link {
    text-decoration: none;
    color: grey;

}

#box2 ul li a:visited {
    text-decoration: none;
    color: grey;
}

#box2 ul li a:hover {
    text-decoration: underline;
    background-color: green;
}

#box3 ul li a:link {
    text-decoration: none;
    color: grey;

}

#box3 ul li a:visited {
    text-decoration: none;
    color: grey;
}

#box3 ul li a:hover {
    text-decoration: underline;
    background-color: green;
}

/* tam kjer so tutorial text pa to*/

#main_content{
    
    width: 650px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    float: right;
    
}
#main_content h1 {
	color: 900000;
}

#main_content h2 {
	font-size: 20;
	font-family: arial;
}

#sourcecode {
	width: auto;
    height: auto;
    font-family: arial;
    background-color: #B8B8B8;
}
/*
#main_content p {
	font-family: arial; backup
}
*/

p.text_in {
	text-align:right;
	font-family:Impact, fantasy;
    padding-top:80px;
	padding-left:10px;
	padding-right:10px;
	color:black;
	font-size:17px;
}

#footer {
	height: 150px;
	background-color: black;
}

#footer ul {
	margin: 0;
	padding: 0;
	display: block;
}

#footer li {
	list-style-type: none;
	float: center;
	font-family:Impact, fantasy;
	font-size: 20px;
	display: block;
	text-align: center;
	line-height: 130px;
	color: white;
}